<!-- dashboard.component.html -->
<div class="container-fluid d-flex flex-column h-100">
  <div class="row flex-grow-1 no-gutters">
    <!-- Sidebar -->
    <div class="col-md-4 border-right d-flex flex-column">
      <!-- Current User -->
      <div class="settings-tray">
        <img
          class="profile-image"
          [src]="currentUser!.profileImage"
          alt="Profile Image"
        />
        <span class="settings-tray--right">
          <i class="material-icons">cached</i>
          <i class="material-icons">message</i>
          <i class="material-icons">menu</i>
        </span>
      </div>

      <!-- Search Box -->
      <div class="search-box">
        <div class="input-wrapper">
          <i class="material-icons">search</i>
          <input placeholder="Search here" type="text" />
        </div>
      </div>

      <!-- Online Users -->
      <div class="online-users">
        <ng-container *ngFor="let user of users; let last = last">
          <div
            class="friend-drawer friend-drawer--onhover"
            (click)="selectUser(user)"
          >
            <img class="profile-image" [src]="user.profileImage" alt="" />
            <div class="text">
              <h6>{{ user.username }}</h6>
              <p class="text-muted">{{ user.lastMessage }}</p>
            </div>
            <span class="time text-muted small">{{ user.time }}</span>
          </div>
          <hr *ngIf="!last" />
        </ng-container>
      </div>
    </div>

    <!-- Chat Panel -->
    <div class="col-md-8 d-flex flex-column">
      <!-- Selected User Info -->
      <div class="settings-tray">
        <div class="friend-drawer no-gutters friend-drawer--grey">
          <img
            *ngIf="selectedUser?.profileImage"
            class="profile-image"
            [src]="selectedUser.profileImage"
            alt="Profile Image"
          />
          <div class="text">
            <h6 *ngIf="selectedUser?.username">{{ selectedUser.username }}</h6>
            <p class="text-muted">
              <!-- Additional info -->
            </p>
          </div>
          <span class="settings-tray--right">
            <i class="material-icons">cached</i>
            <i class="material-icons">message</i>
            <i class="material-icons">menu</i>
            <i class="material-icons" (click)="startVideoCall()">videocam</i>
          </span>
        </div>
      </div>

      <!-- Video Call Modal -->
      <div *ngIf="currentCall" class="video-call-modal">
        <div class="video-container">
          <video #localVideo class="local-video" autoplay playsinline muted></video>
          <video #remoteVideo class="remote-video" autoplay playsinline></video>
        </div>
        <button (click)="endCall()" class="end-call-button">End Call</button>
      </div>

      <!-- Chat Messages Area -->
      <div class="chat-messages flex-grow-1 overflow-auto" #chatMessages>
        <div *ngIf="selectedUser">
          <div
            *ngFor="let msg of messages[selectedUser.username]"
            class="chat-bubble"
            [ngClass]="{
              'chat-bubble--right': msg.sender === currentUser?.username,
              'chat-bubble--left': msg.sender !== currentUser?.username
            }"
          >
            <ng-container *ngIf="isFileMessage(msg.content); else textMessage">
              <img
                *ngIf="isImageFile(msg.content)"
                [src]="msg.content"
                alt=""
              />
              <video
                *ngIf="isVideoFile(msg.content)"
                [src]="msg.content"
                controls
              ></video>
            </ng-container>
            <ng-template #textMessage>
              <p>{{ msg.content }}</p>
            </ng-template>
            <span class="time">{{ msg.timestamp }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Fixed Chat Input Tray -->
  <div class="row">
    <i class="material-icons">sentiment_very_satisfied</i>
    <input
      type="text"
      placeholder="Type your message here..."
      [(ngModel)]="messageContent"
      (keydown.enter)="sendMessage()"
    />
    <!-- File input for images and videos -->
    <input
      type="file"
      id="fileInput"
      accept="image/*,video/*"
      (change)="handleFileInput($event)"
      style="display: none"
    />
    <label for="fileInput" class="material-icons" style="cursor: pointer">
      attach_file
    </label>
    <i class="material-icons">mic</i>
    <i class="material-icons" (click)="sendMessage()">send</i>
  </div>
</div>
